@charset "utf-8";
/* CSS Document */
body{
	 background-color:#008080;
	 background-image:url(images/gerak.gif);
	 
}
#main{ 
       background-color:#008080;
	   width:950px;
	   margin:0 auto;
	   border: 1px solid#09C;
}
.clear{
	   clear:both;
	   float:none;
}
#header{
        background-color:#ffdab9;	
}
#menu-atas{
           background-color:#008080;
		   border:1px solid#09c;
		   padding:10px;
}
#menu-atas li{
	          display:inline;
}
#menu-atas li a{
	            color:#fff;
				font-size:15px;
				font-weight:bold;
				margin-right:50px;
				margin-left:30px;
				text-decoration:none
}
#menu-atas li a:hover{
                      color:#900; 	
}
#footer{
	    background-color:#ffdab9;
}
#menu-kiri{
           margin:1px;
		   widht:400px;
		   float:left;
}
#menu-kanan{
           margin:5px;
		   widht:260px;
		   float:left;
}
#bg-menu{
         background-color:#C39;
		 border:1px solid#09c;
		 padding:3px;
		 padding-left:5px;
		 color:#FFF;
		 font-weight:bold;
		 font-size:15px;
}
#content-menu{
              background-color:#008080;
			  background-image:url(images/bodybody.jpg);
			  border:1px solid#09c;
			  line-height:10px;
			  padding:8px;
			  margin-bottom:11px;
}
#menu-tengah{
           margin:5px;
		   widht:660px;
		   float:left;
}

.button
{
	background:#F09;
	color:#09F;
	padding:8px 14px;
	text-transform:uppercase;
	border:#FFF 5px;
	font-weight:bold;
	cursor:pointer;
	border-radius:26px
	
}
.button: hover
{
	background:#009;
}
.input
{
	padding:5px;
 	border:solid 1px #0099FF;


